@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --translate: 0;
}

@layer base {
  h1 {
    @apply md:text-6xl text-5xl font-bold;
  }

  h2 {
    @apply md:text-4xl text-3xl font-medium;
  }

  h3 {
    @apply md:text-3xl text-2xl font-light;
  }

  h4 {
    @apply md:text-2xl text-xl font-normal uppercase tracking-wider;
  }

  p {
    @apply text-base font-normal;
  }

  label {
    @apply text-sm font-normal uppercase tracking-wider;
  }
}

@layer utilities {
  .containerize {
    @apply w-full px-[4vw] md:px-[10vw];
  }

  .glass-button {
    @apply uppercase text-sm border-[0.1vh] lg:px-[1vw] px-[4vw] py-[1.5vh] tracking-wider hover:bg-neutral-900/50 hover:border-neutral-950 backdrop-blur-2xl bg-white/10 rounded-none hover:text-white;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out, transform 0.2s ease-in-out;
  }

  .glass-button-light {
    @apply text-white border-white/25;
  }

  .glass-button-dark {
    @apply text-neutral-950 border-neutral-950/25;
  }

  .embla {
    overflow: hidden;
  }

  .embla__slide {
    flex: 0 0 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1vw;
  }

  .embla__dots {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
  }
  .embla__dot {
    -webkit-tap-highlight-color: rgba(0 0 0 / 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    width: 2.6rem;
    height: 2.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  .embla__dot:after {
    box-shadow: inset 0 0 0 0.2rem black;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    content: '';
  }
  .embla__dot--selected:after {
    box-shadow: inset 0 0 0 0.2rem black;
  }
}

@layer components {
  .burger-bar {
    @apply w-full [transition:_fill_200ms_ease-in-out];
  }

  .connect-link {
    @apply flex justify-center items-center bg-white text-blue-950 md:px-[0.5vw] px-[2vw] py-[1vh];
  }

  .connect-link label {
    @apply cursor-pointer;
    font-size: 0.6rem;
    line-height: 0.75rem
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%); /* Start from the left beyond the viewport */
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.animated-entry {
  animation: slideInFromLeft 0.5s ease-out forwards; /* Adjust duration and easing to taste */
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%); /* Start from the right beyond the viewport */
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.animated-entry-right {
  animation: slideInFromRight 0.5s ease-out forwards; /* Adjust duration and easing to taste */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animated-fade {
  animation: fadeIn 0.5s ease-out forwards; /* Adjust duration and easing to taste */
}

.fade-animation {
  animation: fade 1s ease-in-out;
  animation-delay: 2s;
    animation-fill-mode: backwards;
}

.scale-animation {
  animation: scaleIn 500ms ease-in-out;
  animation-delay: 500ms;
    animation-fill-mode: backwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes scaleIn {
  0% {
    scale: 0.5;
    opacity: 0;
  }
    100% {
        scale: 1;
        opacity: 1;
    }
}

@font-face {
  font-family: "Century Gothic Paneuropean";
  font-weight: 900; /* Black */
  font-style: normal;
  src: url("../public/typography/CenturyGothicPaneuropeanBlack.ttf") format("truetype");
}

@font-face {
  font-family: "Century Gothic Paneuropean";
  font-weight: 900; /* Black */
  font-style: italic;
  src: url("../public/typography/CenturyGothicPaneuropeanBlackItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Century Gothic Paneuropean";
  font-weight: 800; /* ExtraBold */
    font-style: normal;
    src: url("../public/typography/CenturyGothicPaneuropeanExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Century Gothic Paneuropean";
  font-weight: 800; /* ExtraBold */
  font-style: italic;
  src: url("../public/typography/CenturyGothicPaneuropeanExtraBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Century Gothic Paneuropean";
  font-weight: 700; /* Bold */
  font-style: normal;
  src: url("../public/typography/CenturyGothicPaneuropeanBold.ttf") format("truetype");
}

@font-face {
  font-family: "Century Gothic Paneuropean";
  font-weight: 700; /* Bold */
  font-style: italic;
  src: url("../public/typography/CenturyGothicPaneuropeanBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Century Gothic Paneuropean";
  font-weight: 600; /* SemiBold */
  font-style: normal;
  src: url("../public/typography/CenturyGothicPaneuropeanSemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Century Gothic Paneuropean";
  font-weight: 600; /* SemiBold */
  font-style: italic;
  src: url("../public/typography/CenturyGothicPaneuropeanSemiBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Century Gothic Paneuropean";
  font-weight: 400; /* Regular */
  font-style: normal;
  src: url("../public/typography/CenturyGothicPaneuropeanRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Century Gothic Paneuropean";
  font-weight: 400; /* Regular */
  font-style: italic;
  src: url("../public/typography/CenturyGothicPaneuropeanItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Century Gothic Paneuropean";
  font-weight: 200; /* Light */
  font-style: normal;
  src: url("../public/typography/CenturyGothicPaneuropeanLight.ttf") format("truetype");
}

@font-face {
  font-family: "Century Gothic Paneuropean";
  font-weight: 200; /* Light */
  font-style: italic;
  src: url("../public/typography/CenturyGothicPaneuropeanLightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Century Gothic Paneuropean";
  font-weight: 100; /* Thin */
  font-style: normal;
  src: url("../public/typography/CenturyGothicPaneuropeanThin.ttf") format("truetype");
}

@font-face {
  font-family: "Century Gothic Paneuropean";
  font-weight: 100; /* Thin */
  font-style: italic;
  src: url("../public/typography/CenturyGothicPaneuropeanThinItalic.ttf") format("truetype");
}